*.parquet

# GCP
**/application_default_credentials.json
**/.config/gcloud/
workflow-orchestration/gcp-creds/
data-warehouse/gcp-creds/
analytics_engineering/gcp-creds/
analytics_engineering/env

# Service account keys
*.json
!package.json
!package-lock.json


